/* Common Nav Styles */

.navigation-wrapper {
    height          : 190px;
    background-color: #11122b;
    color           : #cbcbcb;
    /* Flexboc Container */
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding         : 60px 100px;
}